# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace

# ah21
*.code-workspace
*.log
*.tua
*.tuc
*.pdf
test*.lmtx

# Vendors
node_modules/

# Build
/npm-debug.log
build/
out/
